body{
 background-color: #303030;
}
.biblioteca{
 position: relative;
 font-weight: 100;
 font-family: system-ui;
 font-size: 2em;
 color: white;
 top: 10px;
 left: 5px;
 text-shadow: 0 0 6px white;
}
.Salir{
  position: absolute;
  /* background: linear-gradient(33deg, #ef0000, transparent); */
  top: 40px;
  right: 20px;
  padding-block-end: 1px;
  padding-block-start: 1px;
  border-radius: 7px;
  aspect-ratio: auto 10 / 10;
  width: 50px;
}
.Salir input{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.Salir img{
  position: absolute;
 width: 100%;
 height: 100%;
}
.Filtrodelibros{
 position: fixed;
 left: 150px;
 top: 10px;
 width: calc(100% - 250px);
 height: 50px;
 background-color: #4b4b4b;
 border-radius: 40px;
 display: flex;
 align-items: center;
 border: 1px;
 border-width: 2px;
 border-style: inset;
 border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.NuevoLibro{
 position: fixed;
 left: 150px;
 top: 70px;
 width: calc(100% - 250px);
 height: 50px;
 background-color: #4b4b4b;
 border-radius: 40px;
 display: flex;
 align-items: center;
 border: 1px;
 border-width: 2px;
 border-style: inset;
 border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.Filtrodelibros p{
 position: absolute;
 top: 50%;
 left: 20px;
 margin-block-start: 0em;
 margin-block-end: 1em;
 transform: translate(0%, -50%);
 font-weight: 100;
 color: white;
 font-family: monospace;
 font-size: 1.5em;
 text-shadow: 0 0 6px white;
}
.Filtrodelibros input[name="Filtro"]{
 position: absolute;
 top: 50%;
 transform: translate(0%, -50%);
 left: 100px;
 width: calc(100% - 240px);
 height: 30px;
 font-family: system-ui;
 border-radius: 20px;
 background-color: #2f2f2f;
 color: white;
}
.Filtrodelibros input[value="Search"]{
  position: absolute;
  background-color: #005bff;
  height: 40px;
  width: 118px;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
  font-family: system-ui;
  font-weight: 100;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  text-shadow: 0 0 5px white;
}
.NuevoLibro p{
 position: absolute;
 top: 50%;
 left: 20px;
 margin-block-start: 0em;
 margin-block-end: 1em;
 transform: translate(0%, -50%);
 font-weight: 100;
 color: white;
 font-family: monospace;
 font-size: 1.5em;
 text-shadow: 0 0 6px white;
}
.NuevoLibro input[name="book"]{
 position: absolute;
 top: 50%;
 transform: translate(0%, -50%);
 left: 150px;
 width: calc(100% - 290px);
 height: 30px;
 font-family: system-ui;
 border-radius: 20px;
 background-color: #2f2f2f;
 color: white;
}
.NuevoLibro input[value="Add"]{
 position: absolute;
 background-color: #005bff;
 height: 40px;width: 118px;
 top: 50%;
 right: 10px;
 transform: translate(0%, -50%);
 font-family: system-ui;
 font-weight: 100;
 color: white;
 cursor: pointer;
 border-radius: 40px;
 border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
 text-shadow: 0 0 5px white;
 color: white;
}
#estanteria{
 position: fixed;
 height: calc(100% - 160px);
 width: 90%;
 left: 50%;
 transform: translate(-50%, 0%);
 top: 150px;
 overflow-y: scroll;
 scrollbar-width: none;
}
.Book{
     position: relative;
     left: 10px;
     top: 21px;
     width: calc(100% - 20px);
     height: 140px;
     border-width: 2px;
     border-style: inset;
     border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
     border-radius: 20px;
     background-color: #3b3b3b;
}
.Book div{
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    aspect-ratio: auto 10 / 10;
    background-color: #678096;
}
.Book p{
     position: absolute;
     top: 5px;
     left: 9px;
     min-width: calc(100% - 273px);
     height: calc(100% - 10px);
     margin-block-end: 0px;
     margin-block-start: 0px;
     font-family: system-ui;
     color: white;
     font-weight: 100;
     text-shadow: 0 0 5px white;
}
.Book b{
     position: absolute;
     font-family: system-ui;
     color: #b40000;
     bottom: 10px;
     right: 10px;
     text-shadow: 0 0 5px black;
}
.Book input{
 position: absolute;
 background-color: #005bff;
 height: 40px;
 width: 210px;
 right: 5px;
 bottom: 5px;
 font-family: system-ui;
 color: white;
 border: none;
 cursor: pointer;
 border-radius: 100px;
 border-width: 2px;
 border-style: inset;
 border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
